[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
yapf = "*"

[packages]
bcrypt = "==3.1.6"
flask-sqlalchemy = "==2.4.0"
flask-cors = "==3.0.8"
flask = "==1.0.3"

[requires]
python_version = "3.7"
