[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
yapf = "*"
rope = "*"
mypy = "*"

[packages]
bcrypt = "==3.1.7"
flask-sqlalchemy = "==2.4.1"
flask-cors = "==3.0.8"
flask = "==1.1.1"
